body {
    border-right: 5px solid;
    min-height: 100vh
}

.tabstrippinned {
    display: flex;
    flex-wrap: wrap ;
    justify-content: flex-start;
    align-content: space-between;
}

.tabstrippinned .tab {
    flex-grow: 1;
}

.tab,
.tab * {
    vertical-align: middle;
}

.tab>* {
    margin: .25em;
    white-space: nowrap;
    overflow: hidden;
}

.tab {
    transition: all .2s linear;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    left: 0;
    line-height: 1;
    font-size: .875em;
    padding: .5em;
    overflow: hidden;
    max-width: 100%;
    
    /*
    border-top: 1px solid #ffffff44;
    border-bottom: 1px solid #00000044;
    border: 1px solid transparent;
    /*border-image: linear-gradient(#ffffff33, #00000033) 1 / 1px / 0px round;*/
    border-image: linear-gradient(to bottom, #ffffff33, #00000033) 1  / 1px 0px 1px 0px / 0px round;
    border-left: 0;
    border-right: 1px solid #000000;
    
}

.tab .title {
    flex-grow: 1;
    line-height: 1.5em;
}

.tab[data-ct-active=true] {
    font-weight: bold;
    z-index: 9999;
    box-shadow: -5px 0px 5px black;
    /*border-top: none;
    border-bottom: none;
    border-right: 0;
    */
    border: 0px solid transparent;
    border-left: .5em solid red;
    ;
}

.icon,
.closebtn {
    display: inline-block;
    width: 16px;
    height: 16px;
    min-width: 16px;
}

.icon {
    background-size: contain !important;
}

.closebtn {
    background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px"><path fill-rule="evenodd"  fill="none" d="M8.000,-0.000 C12.418,-0.000 16.000,3.582 16.000,8.000 C16.000,12.418 12.418,16.000 8.000,16.000 C3.582,16.000 -0.000,12.418 -0.000,8.000 C-0.000,3.582 3.582,-0.000 8.000,-0.000 Z"/> <path fill-rule="evenodd"  fill="rgb(77, 77, 77)" d="M11.999,11.272 L11.272,11.999 L8.000,8.727 L4.728,11.999 L4.001,11.272 L7.273,8.000 L4.001,4.728 L4.728,4.001 L8.000,7.273 L11.272,4.001 L11.999,4.728 L8.727,8.000 L11.999,11.272 Z"/></svg>') no-repeat center;
    background-size: contain;
    border-radius: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.closebtn:hover {
    background: transparent url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16px" height="16px"><path fill-rule="evenodd"  fill="rgb(226, 92, 75)" d="M8.000,-0.000 C12.418,-0.000 16.000,3.582 16.000,8.000 C16.000,12.418 12.418,16.000 8.000,16.000 C3.582,16.000 -0.000,12.418 -0.000,8.000 C-0.000,3.582 3.582,-0.000 8.000,-0.000 Z"/><path fill-rule="evenodd"  fill="rgb(255, 255, 255)" d="M11.999,11.272 L11.272,11.999 L8.000,8.727 L4.728,11.999 L4.001,11.272 L7.273,8.000 L4.001,4.728 L4.728,4.001 L8.000,7.273 L11.272,4.001 L11.999,4.728 L8.727,8.000 L11.999,11.272 Z"/></svg>') no-repeat center;
}

#colorfultabs-newtab {
    transition: all 1s linear;
    background-color: #ddd;
    height: 32px;
    background-image: url(new-tab.svg);
    background-position: center;
    background-repeat: no-repeat;
}

#colorfultabs-newtab:hover {
    background-color: #f7f7f7;
    filter: drop-shadow(1px 1px 5px aqua);
}
#colorfultabs-newtab:active {
    background-color: #aaa;
}